/* .button:hover {
    color: rgb(160, 185, 15);
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
} */

.button {
    display: block;
    margin-left: 20px;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #2999f5, #49519c, #0011ff);
    background-size: 200%;
    font-size: 15px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 2rem 0 1rem;
    cursor: pointer;
    transition: .5s;
}