.portback {
    background-image: url('./img/pro.png');
    width: 100%;
    height: 100vh;
    /* background-position: 100% 100%; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.portback2 {
    background-image: url('./img/pro2.png');
    width: 100%;
    height: 100vh;
    /* background-position: 100% 100%; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.blk {
    color: black;
}

.portimg {
    height: 362px;
    width: 502px;
    top: 328px;
    right: 124px;
    position: absolute;
}

.f1 {
    position: absolute;
    top: 344px;
    left: 197px;
    font-size: 60px;
}

.f2 {
    position: absolute;
    top: 442px;
    left: 197px;
    font-size: 60px;
}

.portper {
    margin-top: 128px;
    position: absolute;
    left: 63px;
    width: 458px;
}

.portimg2 {
    height: 314px;
    width: 493px;
}

footer {
    background-color: #389bff;
    height: 201px;
    margin-top: -1px;
}